version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: management-project-php:latest
    container_name: management_project_app
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8340:8340"
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1
    command: php artisan serve --host=0.0.0.0 --port=8340

